<div class="asset_wrapper">
  {{#if single}}
    {{#if asset}}
      <div class="row asset_holder">
          {{admin-asset asset=asset property=property adminAction="adminAction"}}
      </div>
    {{/if}}
  {{else}}
  <ul id="sortable" class="row asset_holder">
    {{#each assetsSorted as |asset|}}
      {{admin-asset asset=asset property=property adminAction="adminAction"}}
    {{/each}}
  </ul>
  {{/if}}
    <input type="file" {{action 'selectFile' on='change' target=view}}>
  {{#if creating}}
      <span class="glyphicon glyphicon-refresh glyphicon-refresh"></span>
  {{/if}}
</div>
