{{#if image_object.url}}
  <a href="#" {{action "openImagePreview" image_object.url on="click" target=view}}>
    <img {{bind-attr src="image_object.thumb_url"}} title="Show image">
  </a>
{{/if}}

{{#unless image}}
  {{value}}
{{/unless}}
