//= require ./twitter/bootstrap
//= require_self

.main-content {
  background-color: #f5f5f5;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  margin: 20px 12px;
  padding: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.breadcrumbs {
  margin-top: 49px;
  background-image: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background-image: linear-gradient(#ffffff, #f5f5f5);
  border: 1px solid #ddd;
  padding: 5px 15px;

  button {
    float: left;
    padding: 3px 12px;
  }
}

.breadcrumb {
  padding: 4px 15px;
  margin-bottom: 0;
  list-style: none;
  background: transparent;
}

.breadcrumb li{
  display: inline-block;
  color: #000;
  a {
    color: #000;
  }
}

.breadcrumb > li:before{
  content: "-"; // Unicode space added since inline-block means non-collapsing white-space
  padding: 0 5px;
  color: #000;
}

.breadcrumb > li.first:before {
  content: " ";
}

.breadcrumb li.active{
  color: #000;
}


form{
  margin-left: 30px;
}

.table-striped {
  width: 100%;
  margin-top: 20px;

  thead {
    border-left: 1px solid #cdcdcd;
  }

  th {
    padding: 10px;
    background-image: -webkit-linear-gradient(#eeeeee, #e0e1e2);
    background-image: linear-gradient(#eeeeee, #e0e1e2);
    border-bottom: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    font-size: 12px;
    text-shadow: 0px 1px #fff;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 12px;
  }

  .actions {
    button {
      margin-right: 5px;
    }
  }

}

.batch-actions .btn {
  margin-bottom: -2px;
  padding: 4px 12px;
  .caret {
    margin-left: 5px;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}

.per-page {
  float: right;
  margin: 35px 15px 0 0;
  button {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: normal;
  }
}

.pager {
  margin: 35px 0 0;
  li {
    margin-right: 10px;
  }

}

.page-number {
  font-weight: bold;
  position: relative;
  top: -25px;
  width: 150px;
}

.form-horizontal {
  margin-left: 0;

  .form-group {
    max-width: 500px;
    margin-left: 0;
  }

  .btn-warning {
    margin-left: 10px;
  }
}

.show-details {
  tr {
    border-bottom: 1px solid #cdcdcd;
  }
  th {
    padding: 10px;
    font-size: 12px;
    background-color: #e0e1e2;
  }
  td {
    background-color: #e0e1e2;
    padding: 10px;
    font-size: 12px;
  }

}
