<form class="admin-form">
    <div class="panel panel-default">
        <div class="panel-heading">Base Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
               {{#each attribute in controller.formAttributes}}
                    {{admin-input class="admin-attribute" model=controller.model name=attribute}}
                {{/each}}
                <div class="admin-attribute">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Catalogue</label>
                        <div class="col-sm-8">
                            {{view "select" contentBinding="controller.catalogues" selectionBinding="controller.model.parent" optionLabelPath="content.name" optionValuePath="content.id"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{partial "admin/form-buttons"}}
</form>