<form class="admin-form">
    <div class="panel panel-default">
        <div class="panel-heading">Base Information</div>
        <div class="panel-body">
            {{#each attribute in controller.formAttributes}}
                {{admin-input class="admin-attribute" model=controller.model name=attribute}}
            {{/each}}
            <div class="control-group">
                <label class="control-label">Catalogue</label>
                <div class="controls">
                    {{view "select" contentBinding="controller.catalogues" selectionBinding="controller.model.parent" optionLabelPath="content.name" optionValuePath="content.id"}}
                </div>
            </div>
        </div>
    </div>

    {{partial "admin/form-buttons"}}
</form>