<div class="btn-group table-header-settings">
	<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-cog"></span>
    </a>
    <ul class="dropdown-menu">
    	<li {{action 'openModalSettings'}}>
    		<a href="#">Filter columns</a>
    	</li>
    </ul>
</div>