<div class="btn-group table-header-settings">
	<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-cog"></span>
    </a>
    <ul class="dropdown-menu">
    	{{#view 'admin/table-settings/filter-columns'}}
    		<a href="#">Filter columns</a>
    	{{/view}}
    </ul>
</div>