<div class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action "closeModal" on="click"}}>&times;</button>
        <h4 class="modal-title">Filter columns  </h4>
      </div>
      <div class="modal-body">
        <ul>
          {{#each attr in controller.tableAttributes}}
            <div>
              {{view 'admin/table-settings/show-column-checkbox' attribute=attr}}
              <label>{{admin-letter-case content=attr caseType=controller.caseType}}</label>
            </div>
          {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
