<div class="asset_wrapper">
  {{#if view.single}}
    {{#if view.asset}}
      <div class="row asset_holder">
        {{view 'admin/fileupload/asset' templateNameBinding="view.assetTemplate" asset=view.asset propertyBinding="view.property" isImage=view.isImage}}
      </div>
    {{/if}}
  {{else}}
  <ul id="sortable" class="row asset_holder">
    {{#each asset in view.assetsSorted}}
      {{view 'admin/fileupload/asset' templateNameBinding="view.assetTemplate" assetBinding="asset" propertyBinding="view.property" isImage=view.isImage}}
    {{/each}}
  </ul>
  {{/if}}
    <input type="file" {{action 'selectFile' on='change' target=view}}>
  {{#if view.creating}}
      <span class="glyphicon glyphicon-refresh glyphicon-refresh"></span>
  {{/if}}
</div>