{{#each action in additionalActions}}
  {{#view 'admin/base/actions/action' tagName="button" href="#" contextBinding="action" modelBinding="view.item" titleBinding="action.title"}}
    <span {{bind-attr class="action.iconClass"}}></span>
  {{/view}}
{{/each}}

{{#if view.item.additionalActions}}
    {{#each action in view.item.additionalActions}}
        {{#view 'admin/base/actions/action' tagName="button" href="#" contextBinding="action" modelBinding="view.item" titleBinding="action.title"}}
            <span {{bind-attr class="action.iconClass"}}></span>
        {{/view}}
    {{/each}}
{{/if}}