<button class="btn btn-default" {{action "submit" on="click"}}>Submit</button>

<button class="btn btn-primary" {{action "submit" false on="click"}}>Save and edit</button>

<button class="btn btn-warning" {{action "cancel" on="click"}}>Cancel</button>