<div class="loading-container">
  <div class="error-indicator">
    <span class="error-header">
      <i class="glyphicon glyphicon-remove red"></i>
      Error was occured...
    </span>
    <span class="error-footer">
      If you think that it is internal ember-cli-admin error you can report it <a href="http://https://github.com/ember-admin/ember-cli-admin/issues/new" target="_blank">here</a>
    </span>
  </div>
</div>
