<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Show</div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead><tr><th>Name</th><th>Value</th></tr></thead>
      <tbody>
        {{#each attribute in controller.formAttributes}}
          <tr>
            <th>{{admin-letter-case content=attribute caseType=controller.caseType}}</th>
            {{admin-td-element attributeName=attribute item=model}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
