{{#if controller.isShowSidebar}}
    <div class="search-container">
        <div class="panel panel-default">
            <div class="panel-heading">{{controller.sidebarTitle}}</div>
            <div class="panel-body">
                {{{controller.sidebarContent}}}
            </div>
        </div>
     </div>
{{/if}}