{{#if isShowSidebar}}
    <div class="search-container">
        <div class="panel panel-default">
            <div class="panel-heading">{{sidebarTitle}}</div>
            <div class="panel-body">
                {{{sidebarContent}}}
            </div>
        </div>
     </div>
{{/if}}
