{{#with view.content as content}}
    <div class="tree-item_wrap">
      <i class="icon-move icon-move glyphicon glyphicon-move"></i>
      <a class="tree-item_link" href="javascript:void(0);">{{content.name}}</a>
      <div class="controls">
        {{#if controller.itemActions}}
          {{#each action in controller.itemActions}}
            {{#view 'admin/base/actions/action' tagName="button" href="#" contextBinding="action" modelBinding="content" titleBinding="action.title"}}
              <span {{bind-attr class="action.iconClass"}}></span>
            {{/view}}
          {{/each}}
        {{/if}}
        {{partial "admin/base/actions/addition-actions"}}
      </div>
    </div>
    {{#if content.children}}
      <ol>
        {{#each item in content.children}}
          {{partial 'admin/base/tree/item'}}
        {{/each}}
      </ol>
    {{/if}}
{{/with}}